!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "ja", "xml:lang" => "ja"}
  %head
    %title ohac.github.com
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{"rel" => "stylesheet", "href" => "css/cross/cross.css", "type" => "text/css"}
  %body
    %h1 ohac.github.com
    %ul
      %li
        %a{:href => 'hg/'} Mercurial Repositories
      %li
        %a{:href => 'http://d.hatena.ne.jp/ohac/'} はてなダイアリー
      %li
        %a{:href => 'blog/index.html'} blog(old)
      %li
        %a{:href => 'jsgoban/'} jsgoban
      %li
        %a{:href => 'txt2link/'} text with hyperlink converter
      %li
        %a{:href => 'http://twitter.com/ohac'} Twitter
      %li
        %a{:href => 'hg/idea_tracker/file/tip/'} Idea Tracker
      %li
        %a{:href => 'old_pages/front.html'} old_pages
