<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='ja' xml:lang='ja' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>{{ page.title }}</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <link href="http://ohac.github.io/atom.xml" rel="alternate" title="atom" type="application/atom+xml" />
    <link href='/css/cross/cross.css' rel='stylesheet' type='text/css' />
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </head>
  <body>
    <div id="fb-root"></div>
    {{ content }}
  </body>
</html>
